.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 24px;
  background: var(--main-background-300);
  position: sticky;
  top: 0;
  border-bottom: var(--main-border);
}

.logo {
  display: none;
}

@media (min-width: 500px) {
  .wrapper {
    padding: 20px 40px;
  }
}

@media (min-width: 900px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    display: none;
  }
}
