.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--main-background-300);
  outline: var(--main-border);
  border-radius: var(--main-border-radius);
}

.noBackground {
  background: inherit;
  outline: none;
  border-radius: 0;
}

/*  */
.noPadding {
  padding: 0;
}

.noGap {
  gap: 0;
}

/*  */
.padding8 {
  padding: 4px;
}

.gap8 {
  gap: 4px;
}

/*  */
.padding10 {
  padding: 10px;
}

.gap10 {
  gap: 10px;
}

/*  */
.padding12 {
  padding: 12px;
}

.gap12 {
  gap: 12px;
}

/*  */
.padding20 {
  padding: 10px;
}

.gap20 {
  gap: 16px;
}

/*  */
.padding30 {
  padding: 20px;
}

.gap30 {
  gap: 20px;
}

@media (min-width: 500px) {
  /*  */
  .padding8 {
    padding: 8px;
  }

  .gap8 {
    gap: 8px;
  }

  /*  */
  .padding20 {
    padding: 20px;
  }

  .gap20 {
    gap: 20px;
  }

  /*  */
  .padding30 {
    padding: 30px;
  }

  .gap30 {
    gap: 30px;
  }
}
