.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--main-background-300);
  outline: var(--main-border);
  border-radius: var(--main-border-radius);
}

.noBackground {
  background: inherit;
  border: none;
  border-radius: 0;
}

.noPadding {
  padding: 0;
}

.padding8 {
  padding: 8px;
}

.padding10 {
  padding: 10px;
}

.padding12 {
  padding: 12px;
}

.padding14 {
  padding: 14px;
}

.padding20 {
  padding: 10px;
}

.padding30 {
  padding: 30px;
}

.noGap {
  gap: 0;
}

.gap8 {
  gap: 8px;
}

.gap10 {
  gap: 6px;
}

.gap12 {
  gap: 12px;
}

.gap14 {
  gap: 14px;
}

.gap20 {
  gap: 16px;
}

.gap30 {
  gap: 30px;
}

@media (min-width: 500px) {
  .padding20 {
    padding: 20px;
  }

  .gap10 {
    gap: 10px;
  }

  .gap20 {
    gap: 20px;
  }
}
