.leagueHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 14px 10px;
  background: var(--main-background-500);
  border-radius: var(--main-border-radius-300);
}

.matchTime {
  background: var(--secondary-background);
  border-radius: var(--main-border-radius-300);
  padding: 3px 9px;
}

.live,
.fulltime {
  display: none;
}

.matchDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column-reverse;
  border-bottom: var(--main-border);
  padding: 14px 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.matchScores,
.matchScoresMobile {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding-inline: 8.5939px;
}

.matchScoresMobile {
  margin-left: auto;
}

.matchScores {
  display: none;
}

.matchTeams {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.teamWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.teamLogoWeb {
  display: none;
}

.teamLogoMobile {
  order: -1;
}

@media (min-width: 300px) {
  .matchDetails {
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
}

@media (min-width: 330px) {
  .leagueHeader {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 375px) {
  .matchTeams {
    flex-direction: row;
    align-items: center;
  }

  .matchScoresMobile {
    display: none;
  }

  .matchScores {
    display: block;
  }

  .teamLogoMobile {
    order: 0;
  }
}

@media (min-width: 500px) {
  .leagueHeader {
    padding-inline: 20px;
  }

  .matchTime {
    padding: 4px 12px;
  }

  .matchDetails {
    padding: 16px 20px;
    gap: 20px;
  }

  .matchScores {
    font-size: 14px;
    line-height: 20px;
    padding-inline: 9.7px;
  }

  .matchTeams {
    gap: 6px;
  }

  .teamWrapper {
    gap: 10px;
  }

  .teamLogoWeb {
    display: block;
  }

  .teamLogoMobile {
    display: none;
  }
}

@media (min-width: 600px) {
  .live,
  .fulltime {
    display: block;
  }

  .live {
    padding: 4px 8px;
    border-radius: var(--main-border-radius-300);
    background: var(--alert-color-300);
  }

  .fulltime {
    padding: 4px 18px;
    border-radius: var(--main-border-radius-300);
    background: var(--main-background-200);
  }

  .matchTeams {
    flex-grow: 0;
  }
}
