.noData {
  height: calc(100vh - 230px);
  position: sticky;
  top: 101px;
}

.leagueHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 14px 10px;
  background: var(--main-background-500);
  border-radius: var(--main-border-radius-300);
}

.date {
  margin-top: auto;
}

.matchTime,
.matchTimeMobile {
  display: none;
  background: var(--secondary-background);
  border-radius: var(--main-border-radius-300);
  padding: 4px;
}

.matchTimeMobile {
  width: 52px;
  display: grid;
  place-content: center;
}

.live {
  display: none;
}

.notLive {
  display: grid;
  place-content: center;
  width: 52px;
  padding: 4px;
  border-radius: var(--main-border-radius-300);
  background: var(--main-background-200);
}

.matchDetails {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: var(--main-border);
  padding: 14px 10px;
  flex-direction: column;
}

.matchScores,
.matchScoresMobile {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding-inline: 8.5939px;
}

.matchScoresMobile {
  margin-left: auto;
}

.matchScores {
  display: none;
}

.matchTeams {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.teamWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
}

.teamLogoWeb {
  display: none;
}

.teamLogoMobile,
.teamLogoWeb {
  order: -1;
}

@media (min-width: 330px) {
  .noData {
    height: calc(100vh - 163px);
  }

  .matchDetails {
    align-items: center;
    flex-direction: row;
  }

  .matchTeams {
    margin-inline: auto;
  }
}

@media (min-width: 350px) {
  .leagueHeader {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 375px) {
  .noData {
    height: calc(100vh - 173px);
  }
}

@media (min-width: 500px) {
  .noData {
    height: calc(100vh - 198px);
  }

  .leagueHeader {
    padding-inline: 20px;
  }

  .matchDetails {
    padding: 16px 20px;
    gap: 20px;
  }

  .matchScores,
  .matchScoresMobile {
    font-size: 14px;
    line-height: 20px;
    padding-inline: 9.7px;
  }

  .matchTeams {
    gap: 6px;
  }

  .teamWrapper {
    gap: 10px;
  }

  .teamLogoWeb {
    display: block;
  }

  .teamLogoMobile {
    display: none;
  }
}

@media (min-width: 1300px) {
  .noData {
    height: calc(100vh - 131px);
  }
}

@media (min-width: 1400px) {
  .matchTeams {
    flex-direction: row;
    align-items: center;
  }

  .teamName {
    margin-left: auto;
  }

  .matchScoresMobile {
    display: none;
  }

  .matchScores {
    display: block;
  }

  .teamLogoWeb {
    order: 0;
  }

  .matchTime {
    width: 56px;
    display: grid;
    place-content: center;
  }

  .matchTimeMobile {
    display: none;
  }

  .noMatchTime {
    background: transparent;
    align-self: stretch;
  }

  .live {
    display: grid;
    place-content: center;
    width: 52px;
    padding: 4px;
    border-radius: var(--main-border-radius-300);
    background: var(--alert-color-300);
  }
}
