.newsWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 14px;
  transition: background-color 0.15s ease-in;
  width: 100%;
}

.news:hover {
  background-color: var(--main-background-500);
}

.newsHeading {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.newsTime {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--main-color-300);
}

@media (min-width: 240px) {
  .news {
    padding-inline: 20px;
  }
}

@media (min-width: 330px) {
  .news {
    flex-direction: row;
    padding: 14px;
  }
}

@media (min-width: 1000px) {
  .newsWrapper {
    padding: 10px 10px 20px 0;
    /* check the padding */
  }

  .news:hover {
    border-radius: var(--main-border-radius);
  }
}

@media (min-width: 1100px) {
  .newsWrapper {
    padding: 10px 20px 20px;
  }
}
