.newsWrapper {
  display: flex;
  flex-direction: column;
  padding-block: 10px;
}

.news {
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 12px;
  transition: background-color 0.15s ease-in;
  width: 100%;
}

.news:hover {
  background-color: var(--main-background-500);
}

@media (min-width: 300px) {
  .news {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .newsWrapper {
    padding: 10px 10px 20px;
  }

  .news:hover {
    border-radius: var(--main-border-radius);
  }
}

@media (min-width: 1100px) {
  .newsWrapper {
    padding-inline: 20px;
  }
}
