.wrapper {
  background: var(--main-background-300);
}

.heading {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--main-background-300);
  margin-bottom: 6px;
  display: block;
}

.league {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  transition: background-color 0.15s ease-in;
  border-radius: var(--main-border-radius-300);
  flex-wrap: wrap;
  background-color: var(--main-background-300);
}

.league > p {
  transition: color 0.15s ease-in;
}

.league:hover {
  background-color: var(--main-background-500);
}

.leagueCurrent,
.leagueCurrent:hover {
  background-color: var(--active-color);
  position: relative;
}

.highlightIcon {
  position: absolute;
  left: -25px;
  transform: rotate(90deg);
  transition: opacity 0.15s ease-in;
  opacity: 0;
  display: none;
}

.highlightIconActive {
  opacity: 1;
}

.allLeagues {
  padding-bottom: 6px;
}

.competitionFlag {
  position: relative;
  width: 28px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitionFlag > * {
  width: 100%;
  height: unset !important;
  margin-block: auto;
  object-fit: cover;
  object-position: center center;
}

@media (min-width: 500px) {
  .allLeagues {
    padding-bottom: 10px;
  }

  .league {
    gap: 15px;
    padding: 10px;
  }

  .heading {
    margin-bottom: 10px;
  }

  .highlightIcon {
    display: block;
  }

  .competitionFlag {
    width: 32px;
  }
}

@media (min-width: 1400px) {
  .allLeagues {
    padding-bottom: 33px;
  }
}
