.heading {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--main-background-300);
}

.league {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  transition: background-color 0.15s ease-in;
  border-radius: var(--main-border-radius-300);
  flex-wrap: wrap;
}

.league:hover {
  background-color: var(--main-background-500);
}

@media (min-width: 500px) {
  .league {
    gap: 15px;
    padding: 10px;
  }
}
