.wrapper {
  opacity: 0;
}

.profileImageDesktopWrapper {
  display: none;
}

@media (min-width: 500px) {
  .profileImageDesktopWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 131px;
  }

  .profileImageMobileWrapper {
    display: none;
  }
}
