.categories {
  display: flex;
  flex-direction: column;
  background: var(--main-background-300);
  padding: 6px;
  border-radius: 6px;
  width: min(510px, 100%);
  margin-inline: auto;
}

.category {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  color: var(--main-color);
}

.category:hover,
.categoryActive {
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.category:hover {
  color: var(--main-color-300);
}

.categoryActive,
.categoryActive:hover {
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--secondary-background);
}

@media (min-width: 360px) {
  .categories {
    flex-direction: row;
  }
}

@media (min-width: 375px) {
  .category {
    padding: 6px;
  }
}

@media (min-width: 390px) {
  .category {
    padding: 10px;
  }
}

@media (min-width: 500px) {
  .categories {
    border-radius: 8px;
  }

  .category {
    font-size: 16px;
    line-height: 22px;
    padding-block: 16px;
    border-radius: 8px;
  }
}
