.wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  max-width: 1062px;
  margin-inline: auto;
}

@media (min-width: 375px) {
  .wrapper {
    gap: 20px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    row-gap: 30px;
    column-gap: 20px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    gap: 30px;
  }
}
