:root {
  /* TEXT COLORS */
  --secondary-color: #3c3b37;
  --alert-color: #e1233d;

  /* BORDER */
  --main-border: 1px solid #ececec;

  /* RADIUS */
  --main-border-radius: 6px;
  --main-border-radius-300: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUND COLORS */
    --main-background-color: #1c2228;
    --main-background-color-300: #2c343a;

    /* TEXT COLORS */
    --main-color: #ffffff;
    --main-color-300: #616a76;
    --active-color: #0359fa;

    /* BORDER */
    --main-border: 1px solid #3e4954;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
}

body {
  background: var(--main-background-color);
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
