.children {
  padding: 20px 14px;
}

@media (min-width: 375px) {
  .children {
    padding-inline: 24px;
  }
}

@media (min-width: 500px) {
  .children {
    padding-inline: 30px;
  }
}

@media (min-width: 1000px) {
  .children {
    padding: 20px 40px 29px;
  }
}
