.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main,
.aside {
  width: 100%;
}

.allLeagues,
.calendar {
  display: none;
}

.dropDowns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min(100%, 770px);
  margin-inline: auto;
  flex-wrap: wrap;
  position: relative;
}

.dropDownWapper {
  flex-grow: 1;
  flex-shrink: 0;
}

.dropDownContent {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 15px);
  display: none;
}

.calendarDropDown,
.allCupDropDown {
  display: block;
  box-shadow: 0px 12px 24px 0px #00000038;
  border-radius: var(--main-border-radius);
}

.allCupDropDown {
  max-height: 50vh;
  overflow-y: auto;
}

@media (min-width: 330px) {
  .dropDowns {
    flex-direction: row;
  }
}

@media (min-width: 375px) {
  .dropDowns,
  .wrapper,
  .main {
    gap: 20px;
  }

  .dropDownContent {
    top: calc(100% + 20px);
  }
}

@media (min-width: 500px) {
  .calendarDropDown {
    width: max(364px, calc(50% - 10px));
    left: auto;
  }

  .allCupDropDown {
    width: max(calc(50% - 10px), 336px);
  }
}

@media (min-width: 1000px) {
  .main {
    flex: 1.75;
  }

  .aside {
    flex: 1;
    min-width: 310px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    gap: 30px;
  }

  .aside {
    flex: 28;
  }

  .main {
    flex: 46.15;
  }

  .allLeagues,
  .calendar {
    display: block;
  }

  .allLeagues {
    flex: 25.85;
  }

  .dropDowns {
    display: none;
  }
}
