.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main,
.aside {
  width: 100%;
}

.allLeagues,
.calendar {
  display: none;
}

.dropDowns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-inline: auto;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  z-index: 1;
}

.dropDownButton {
  flex: 1;
  cursor: pointer;
}

.dropDownContent {
  position: absolute;
  top: calc(100% + 15px);
  width: min(364px, 100%);
  box-shadow: 0px 12px 24px 0px #00000038;
  border-radius: var(--main-border-radius);
  display: none;
}

.calendarDropDown,
.allCupDropDown {
  display: block;
}

.calendarDropDown {
  right: 0;
}

.allCupDropDown {
  max-height: 50vh;
  overflow-y: auto;
  outline: var(--main-border);
}

.positionedElementHide {
  position: fixed;
  inset: 0;
  background: transparent;
  display: none;
}

.positionedElement {
  z-index: 1;
  display: block;
}

.newsPreview {
  max-height: calc(100vh - 131px);
  overflow-y: auto;
  border-radius: var(--main-border-radius);
  border: var(--main-border);
}

@media (min-width: 330px) {
  .dropDowns {
    flex-direction: row;
  }
}

@media (min-width: 375px) {
  .dropDowns,
  .wrapper,
  .main {
    gap: 20px;
  }

  .dropDownContent {
    top: calc(100% + 20px);
  }
}

@media (min-width: 500px) {
  .calendarDropDown {
    width: 364px;
  }

  .allCupDropDown {
    width: 336px;
  }
}

@media (min-width: 1000px) {
  .main {
    flex: 1.75;
  }

  .aside {
    flex: 1;
    min-width: 310px;
    position: sticky;
    top: 101px;
    height: fit-content;
  }

  .wrapper {
    gap: 30px;
  }
}

@media (min-width: 1300px) {
  .positionedElement {
    display: none;
  }

  .wrapper {
    gap: 30px;
  }

  .aside {
    flex: 28;
  }

  .main {
    flex: 46.15;
  }

  .allLeagues,
  .calendar {
    display: block;
  }

  .calendar {
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    overflow: hidden;
  }

  .allLeagues {
    flex: 25.85;
    position: sticky;
    top: 101px;
    height: fit-content;
    max-height: calc(100vh - 131px);
    overflow-y: auto;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
  }

  .dropDowns {
    display: none;
  }
}
