.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: var(--main-background-300);
  padding: 14px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  width: 100%;
}

.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

@media (min-width: 500px) {
  .text {
    font-size: 16px;
    line-height: 1.33;
  }
}
