.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 8px 5px;
  cursor: pointer;
}

@media (min-width: 300px) {
  .tile {
    font-size: 14px;
    line-height: 20px;
  }
}
