.topWrapper {
  margin-inline: auto;
  width: min(100%, 770px);
  border-radius: var(--main-border-radius-600);
  border: var(--main-border);
}

.top {
  border-bottom: var(--main-border);
  gap: 12px;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px;
  flex-wrap: wrap;
}

.voteHeader,
.votePercentLineWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.votePercentLineWrapper {
  flex-direction: column;
  gap: 20px;
}

.leagueName {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.leagueLogoWeb {
  display: none;
}

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
}

.teamInfo {
  border-bottom: var(--main-border);
  position: relative;
}

.teamBox,
.teamBoxAway {
  position: absolute;
  height: 100%;
}

.teamBoxAway {
  right: 0;
  aspect-ratio: 1 / 1.07;
  display: flex;
  justify-content: flex-end;
}

.teamBoxInner,
.teamBoxInnerInner,
.teamBoxWhite {
  position: absolute;
  height: 100%;
}

.teamBoxInner {
  aspect-ratio: 1 / 1.07;
}

.teamBoxInnerInner {
  aspect-ratio: 1 / 1.44;
}

.teamBoxWhite {
  aspect-ratio: 1 / 1.42;
}

.matchDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10.5px 40px;
}

.teamScores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.teamScoresInner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.clubDetails {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoWrapper {
  position: relative;
}

.clubLogoWeb {
  display: none;
}

.star,
.starMobile,
.starDim,
.starDimMobile {
  position: absolute;
  bottom: 0;
}

.star,
.starMobile {
  right: 0;
}

.starDim,
.starDimMobile {
  left: 0;
}

.star,
.starDim {
  display: none;
}

.teamNameWrapper {
  display: flex;
  flex-direction: column;
}

.scorer,
.teamAbbr {
  color: var(--main-color-300);
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
}

.addVoteButton {
  background: var(--secondary-background);
  border-radius: var(--main-border-radius);
  padding: 6px 10px;
}

.matchTime {
  height: 54px;
  align-self: flex-start;
  display: grid;
  place-content: center;
}

.clubName {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--main-color);
}

.clubNameAway {
  color: var(--main-color-300);
}

.homeScore {
  display: flex;
  align-items: center;
  gap: 4px;
}

.homeScore {
  gap: 8px;
}

.scorerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.leftAuto {
  margin-left: auto;
}

.rightAuto {
  margin-right: auto;
}

.teamScore {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--main-color);
}

.voteHeader {
  gap: 5px;
}

.vote {
  padding: 12px;
  border-bottom: var(--main-border);
}

.voteDetails {
  display: flex;
  align-items: center;
  gap: 4px;
}

.goalIconDesktop {
  display: none;
}

.bottom,
.bottomList {
  display: flex;
  align-items: center;
}

.bottomList {
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom {
  justify-content: space-between;
  gap: 24px;
}

.activeLink > * {
  color: var(--active-color);
  position: relative;
}

.activeLink > *::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--active-color);
  left: 0;
  bottom: -8px;
}

@media (min-width: 273px) {
  .top,
  .bottom {
    justify-content: space-between;
    flex-direction: row;
  }

  .activeLink > *::after {
    bottom: -14px;
  }
}

@media (min-width: 330px) {
  .top {
    padding: 8px 24px;
  }

  .bottom {
    padding: 9px 24px;
  }

  .activeLink > *::after {
    bottom: -15px;
  }

  .votePercentLineWrapper {
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: 500px) {
  .leagueName {
    gap: 14px;
  }

  .top {
    padding: 11px 20px;
  }

  .leagueLogoWeb {
    display: block;
  }

  .leagueLogoMobile {
    display: none;
  }

  .addVoteButton {
    padding-inline: 14px;
  }

  .bottomList {
    gap: 28px;
  }

  .scorerWrapper {
    gap: 15px;
  }

  .scorer,
  .teamAbbr {
    font-size: 12px;
    line-height: 18px;
  }

  .goalIconDesktop {
    display: block;
  }

  .goalIconMobile {
    display: none;
  }

  .clubName {
    font-size: 18px;
    line-height: 24px;
  }

  .clubDetails {
    gap: 18px;
  }

  .starMobile {
    transform: translate(30%, 30%);
  }

  .starDimMobile {
    transform: translate(-30%, 30%);
  }

  .teamScore {
    font-size: 32px;
    line-height: 40px;
  }

  .teamScores {
    gap: 21px;
  }

  .teamScoresInner {
    gap: 20px;
  }
}

@media (min-width: 900px) {
  .clubDetails {
    gap: 26px;
  }

  .star,
  .starDim {
    display: block;
  }

  .star {
    transform: translate(50%, 50%);
  }

  .starDim {
    transform: translate(-50%, 50%);
  }

  .starMobile,
  .starDimMobile {
    display: none;
  }

  .clubLogoWeb {
    display: block;
  }

  .clubLogoMobile {
    display: none;
  }

  /*  */

  .matchTime {
    height: 82px;
  }

  .matchDetails {
    gap: 20px;
    padding: 9.5px 40px;
  }
}
