.wrapper {
  display: none;
}

@media (min-width: 900px) {
  .wrapper {
    display: flex;
    margin-inline: auto;
  }

  .navList {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .navItem {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .link {
    color: var(--main-color-300);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    transition: color 0.25s ease-in;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  .linkCurrent {
    color: var(--active-color);
  }

  .highlight {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }

  .highlightCurrent {
    opacity: 1;
  }

  .linkWrapper {
    display: flex;
    position: relative;
  }

  .newsTypeOuter {
    position: absolute;
    top: 100%;
    padding-top: 21px;
    min-width: 192px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background: transparent;
    border-radius: var(--main-border-radius-500);
    transition: opacity 0.15s ease-in;
  }

  .newsType {
    background: var(--main-background-300);
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 24px 0px #00000038;
    border-radius: var(--main-border-radius-500);
  }

  .newsTypeOuter:hover,
  .linkWrapper:has(.link:hover) .newsTypeOuter {
    opacity: 1;
    height: auto;
    overflow: visible;
  }

  .newsLink {
    padding: 8px 12px;
  }

  .newsLink:hover > p {
    transition: color 0.15s ease-in;
    color: var(--active-color);
  }
}

@media (min-width: 1050px) {
  .navList {
    gap: 29px;
  }

  .link {
    font-size: 18px;
  }
}
